* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 4fr;
}

.header .logo {
  display: grid;
  justify-content: start;

}

.menu {
  grid-column-start: 3;
  grid-column-end: 4;
}

.menu ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-start: 1;
  grid-column-end: 5;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
}

.sidebar {
  background-color: #FF7755;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 50px;

}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  display: grid;
  align-items: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  display: grid;
  align-items: center;
}

.nav {
  background-color: #FF7755;
  grid-column-start: 2;
  grid-column-end: 3;
}

.nav ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
  list-style-type: none;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
  height: 200px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-column-start: 1;
  grid-column-end: 3;
}

.footer p {
  font-size: 13px;
  font-weight: normal;  
}
